body {
    margin: 0;
    font-family: navFont;
  }
  
  .nav {
    overflow: hidden;
    background-color: #D9D9D9;
    text-align: center;
  }
  .logo-nav{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 8px;
    margin-left: 30px;
    float: left;
}
  
  .nav a {
    color: black;
    text-align: center;
    padding: 16px 40px;
    text-decoration: none;
    font-size: 20px;
    display:inline-block;
  }
  
  .nav a:hover {
    text-decoration: underline;
    text-decoration-color: black;
  }
  
  .nav a.active {
    text-decoration: underline;
    text-decoration-color: black;
    background-color: #D9D9D9;
  }
  @font-face {
    font-family: navFont;
    src: url("fonts/Cheque-Regular.otf") format("opentype");
}
  @font-face {
    font-family: dancingScript;
    src: url("fonts/DancingScript-VariableFont_wght.ttf");
  }

.even {
  background-color: white;
}
.odd {
  background-color: #D9D9D9;
}

.box{
  padding: 20px;
  display: flex;
}
.box .content{
  width: 70%;
  padding-right: 10px;
}

.imgBx{
  padding-right:40px;
}
#firstimg{
  height: 200px;
}
.titleFormat{
  font-family: dancingScript;
  font-size: 35px;
}
.blurb{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.multiSlideImg{
  height:150px;
  border-radius: 50%;
}
.imginslide{
  padding: 20px;
  border-left:20%;
  border-right:20%;
  box-align: center;
  text-align: center;
  display:inline;
}

.boxthreeslide{
  padding: 20px;
  text-align: center;
}


* {box-sizing:border-box}

#slideodd {
  padding-top: 3%;

}

/* Slideshow container */
.slideshow-container {
  max-width: 900px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}